<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library | admin</title>
    <!-- css -->
    <link rel="stylesheet" href="../public/css/main.css">
    <link rel="stylesheet" href="../public/css/admin.css">
    <link rel="stylesheet" href="../public/css/admin-removeStaff.css">
    <!-- gg font -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="admin-title">QUẢN LÝ THƯ VIỆN</div>
    <div class="btn-area">
        <button class="btn-task"><a class="btn-link" href="./admin-profile.html">Profile</a></button>
        <button class="btn-task btn-active"><a class="btn-link" href="./admin-staffManager.html">Staff</a></button>
    </div>
    <div class="detail-task">
        <div class="search-area">
            <input type="text" class="search input-custom" id="search" name="search" placeholder="Search by ID">
            <button class="btn-removeStaff bg-green">Find</button>
        </div>
        <div class="removeStaff-items">
            <div class="removeStaff-items-title">Id</div>
            <div class="removeStaff-items-content">xxxxxx</div>
        </div>
        <div class="removeStaff-items">
            <div class="removeStaff-items-title">Name</div>
            <div class="removeStaff-items-content">Nguyen Van A</div>
        </div>
        <div class="removeStaff-items">
            <div class="removeStaff-items-title">Birthday</div>
            <div class="removeStaff-items-content">12/04/2000</div>
        </div>
        <div class="removeStaff-items">
            <div class="removeStaff-items-title">Address</div>
            <div class="removeStaff-items-content">Ho Chi Minh, Viet Nam</div>
        </div>
        <div class="removeStaff-items">
            <div class="removeStaff-items-title">Email</div>
            <div class="removeStaff-items-content">NgVanA@gmail.com</div>
        </div>
        <div class="removeStaff-items">
            <div class="removeStaff-items-title">Phone</div>
            <div class="removeStaff-items-content">0123456789</div>
        </div>
        <div class="removeStaff-items">
            <div class="removeStaff-items-title">Position</div>
            <div class="removeStaff-items-content">Staff</div>
        </div>
        <div class="removeStaff-items">
            <div class="removeStaff-items-title">Salary</div>
            <div class="removeStaff-items-content">50.000.000</div>
        </div>
        <div class="btn-removeStaff-area">
            <button class="btn-removeStaff bg-red">Remove</button>
            <button class="btn-removeStaff bg-yl">Cancel</button>
        </div>
    </div>

</body>
</html>