<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library | staff</title>
    <!-- css -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/staff.css">
    <link rel="stylesheet" href="/css/admin-staffManager.css">
    <!-- gg font -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <div class="staff-title">QUẢN LÝ THƯ VIỆN</div>
    <div class="btn-area">
        <button class="btn-task"><a class="btn-link" href="/view/admin-profile">Cá nhân</a></button>
        <button class="btn-task btn-active"><a class="btn-link" href="/view/admin-staffManager">Danh sách nhân viên</a></button>
    </div>

    <div class="detail-task">
        <div class="staff-manager">
            <div class="staff-manager-items">
                <a class="btn-link" href="/view/admin-listStaff">
                    <button class="btn-staffManager cl-wh bg-red">Danh sách nhân viên</button>
                </a>
            </div>
            <div class="staff-manager-items">
                <a class="btn-link" href="/view/admin-addStaff">
                    <button class="btn-staffManager cl-wh bg-green">Thêm nhân viên mới</button>
                </a>
            </div>
            <div class="staff-manager-items">
                <a class="btn-link" href="/view/admin-updateStaff">
                    <button class="btn-staffManager bg-yl">Cập nhật nhân viên</button>
                </a>
            </div>
            <!-- <div class="staff-manager-items">
                <a class="btn-link" href="./admin-removeStaff.html">
                    <button class="btn-staffManager cl-wh bg-blue">Remove staff</button>
                </a>
            </div> -->
        </div>
    </div>
</body>

</html>