<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>confirm</title>
</head>

<body>
    <a href="/view/cf-cn/CN1">Chi nhanh 1</a>
    <a href="/view/cf-cn/CN2">Chi nhanh 2</a>
</body>

</html>