<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library | staff</title>
    <!-- css -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/staff.css">
    <link rel="stylesheet" href="/css/staff-updateBook.css">
    <!-- gg font -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="staff-title">QUẢN LÝ THƯ VIỆN</div>
    <div class="btn-area">
        <button class="btn-task"><a class="btn-link" href="/view/staff-profile">Cá nhân</a></button>
        <button class="btn-task btn-active"><a class="btn-link" href="/view/staff-bookManager">Danh sách sách</a></button>
        <button class="btn-task"><a class="btn-link" href="/view/staff-borrowBook">Mượn sách</a></button>
        <button class="btn-task"><a class="btn-link" href="/view/staff-returnBook">Trả sách</a></button>
        <button class="btn-task"><a class="btn-link" href="/view/staff-bill">Danh sách phiếu</a></button>
    </div>
    <div class="detail-task">
        <div class="detail-task-container bg-grey">
            <div class="search-area">
                <input type="text" class="search input-custom" id="search" name="search" placeholder="Nhập mã sách">
                <button class="btn-updateBook bg-green" id="btn-search">Tìm</button>
            </div>
        </div>
        <div id="message"></div>
        <div id="content" style="display: none;">
            <div class="updateBook-items">
                    <div class="updateBook-items-title">Mã sách</div>
                    <div class="updateBook-items-content" id="book_id">
                        xxxxxx
                    </div>
                </div>
                <div class="updateBook-items">
                    <div class="updateBook-items-title">Tên sách</div>
                    <div class="updateBook-items-content">
                        <input class="input-custom" type="text" id="book_name" name="book_name">
                    </div>
                </div>
                <div class="updateBook-items">
                    <div class="updateBook-items-title">Tác giả</div>
                    <div class="updateBook-items-content">
                        <input class="input-custom" type="text" id="author" name="author">
                    </div>
                </div>
                <div class="updateBook-items">
                    <div class="updateBook-items-title">Link hình ảnh</div>
                    <div class="updateBook-items-content">
                        <input class="input-custom" type="text" id="img" name="img">
                    </div>
                </div>
                <div class="updateBook-items">
                    <div class="updateBook-items-title">Loại sách</div>
                    <div class="addBook-items-content">
                        <select class="input-custom" name="book_type" id="book_type">
                            <option value="Sach01">Tiểu thuyết</option>
                            <option value="Sach02">Truyện cười</option>
                            <option value="Sach03">Trinh thám</option>
                            <option value="Sach04">Truyện ma</option>
                        </select>
                    </div>
                </div>
                <div class="updateBook-items">
                    <div class="updateBook-items-title">Chi nhánh</div>
                    <div class="updateBook-items-content" id="idcampus">
                        Campus
                    </div>
                </div>
                <div class="updateBook-items">
                    <div class="updateBook-items-title">Trạng thái</div>
                    <div class="updateBook-items-content">
                        <select class="input-custom" name="book_status" id="book_status">
                            <option value="false">Free</option>
                            <option value="true">Busy</option>
                        </select>
                    </div>
                </div>
                <div class="btn-updateBook-area">
                    <button class="btn-updateBook bg-green" id="btn-update">Cập nhật</button>
                    <a href="/view/staff-bookManager"><button class="btn-updateBook bg-red">Hủy</button></a>
                </div>                
            </div>
            

        </div>
            
    </div>

</body>
<script>
    let btn_search = document.getElementById('btn-search')
    let btn_update = document.getElementById('btn-update')
    let message = document.getElementById('message')

    btn_search.addEventListener('click',() => {
        let MaSach = document.getElementById('search').value
        if(MaSach){
            fetch(`/book/${MaSach}`, {
                method:'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(data => data.json())
            .then(data => {
                if(data.code === 200){
                    message.innerHTML = ''

                    let book = data.data
                    document.getElementById('book_id').innerHTML = book.MaSach
                    document.getElementById('book_name').value = book.TenSach
                    document.getElementById('author').value = book.TacGia
                    document.getElementById('book_status').value = book.TrangThai
                    document.getElementById('book_type').value = book.MaLoai
                    book.MaCN == 'CN1' ? document.getElementById('idcampus').innerHTML = 'Chi nhánh 1': document.getElementById('idcampus').innerHTML = 'Chi nhánh 2'
                    document.getElementById('img').value = book.HinhAnh
                    document.getElementById('content').style.display = 'block'
                }
                else{
                    let msg = `<div class="msg bg-err">Mã sách không tồn tại</div>`
                    message.innerHTML = msg
                }
            })
            .catch(err => console.log(err))
        }
        else{
            let msg = `<div class="msg bg-err">Vui lòng nhập mã sách</div>`
            message.innerHTML = msg
        }
    })

    btn_update.addEventListener('click', () => {
        let MaSach= document.getElementById('book_id').innerHTML
        let TenSach= document.getElementById('book_name').value
        let TacGia= document.getElementById('author').value
        let TrangThai= document.getElementById('book_status').value
        let MaLoai= document.getElementById('book_type').value
        let HinhAnh= document.getElementById('img').value

        if(MaSach && TenSach && TacGia && TrangThai && MaLoai && HinhAnh){
            fetch(`/book/${MaSach}`, {
                method:'PUT',
                body: JSON.stringify({TenSach, TacGia, TrangThai, MaLoai, HinhAnh}),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(data => data.json())
            .then(data => {
                if(data.code === 200){
                    let msg = `<div class="msg bg-success">Cập nhật sách thành công</div>`
                    message.innerHTML = msg
                }
                else{
                    let msg = `<div class="msg bg-err">Cập nhật sách không thành công</div>`
                    message.innerHTML = msg
                }
            })
            .catch(err => console.log(err))
        }
        else{
            let msg = `<div class="msg bg-err">Vui lòng nhập thông tin</div>`
            message.innerHTML = msg
        }
    })
</script>
</html>