/* custom scroll bar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #d8d8d8; 
}

::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0); 
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(46, 46, 46); 
}
/* ------------------------- */
.search-area{
    text-align: center;
    margin-bottom: 30px;
}

.btn-listStaff{
    padding: 0px 15px;
    font-family: 'Rowdies', cursive;
    font-size: 1.2rem;
    border: solid 3px rgb(0, 0, 0);
    box-shadow: #000000 3px 3px;
    margin-bottom: 20px;
    margin: 5px;
}

.btn-listStaff:hover{
    opacity: 80%;
    cursor: pointer;
}

.btn-listStaff:active{
    opacity: 50%;
}

.input-custom{
    padding: 2px;
    font-family: 'Rowdies', cursive;
    font-size: 1.2rem;
    border: solid 3px rgb(1, 26, 61);
    outline: none;
}

.bg-green{
    background-color: rgba(18, 190, 18, 0.801);
}

.bg-yl{
    background-color: rgb(240, 232, 2);
}

.bg-blue{
    background-color: rgb(4, 78, 175);
}

.cl-wh{
    color: #ffffff;
}

.bg-white{
    background-color: #ffffff;
}

.bg-grey{
    background-color: #9e9d9d;
}

.list-staff{
    overflow-y: scroll;
    height: 400px;
    width: 800px;
    margin: auto;
    border: 3px solid #000000;
}

.list-staff-items{
    font-size: 1.5rem;
    display: flex;
    padding: 10px;
}

.list-staff-items:hover{
    opacity: 80%;
    cursor: pointer;
}

.list-staff-item-id{
    width: 30%;
}

.list-staff-item-name{
    width: 50%;
}
/* model */
.model-info{
    position: absolute;
    top: -5%;
    left: 35%;
    width: 500px;
    border: #000000 solid 3px;
    padding: 10px;
    display: none;
}

.model-info-header{
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 15px;
}

.model-info-body{
    font-size: 1.5rem;
}

.model-info-items{
    display: flex;
    padding: 5px;
}

.model-items-title{
    width: 40%;
}

.model-info-footer{
    text-align: end;
}

@media only screen and (max-width: 1200px) {
    .list-staff{
        width: 100%;
    }
    .list-staff-items{
        display: block;
    }
    .model-info{
        top: 10%;
        left: 0%;
        width: 100%;
    }
}