.book-manager{
    text-align: center;
}

.book-manager-items{
    display: block;
    padding: 20px;
}

.btn-bookManager{
    border: 3px solid #000000;
    box-shadow: 3px 3px #000000;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-family: 'Rowdies', cursive;
    width: 250px;
}

.bg-red{
    background-color: #a41c1c;
}

.bg-green{
    background-color: green;
}

.bg-yl{
    background-color: #f1f82e;
}

.bg-blue{
    background-color: blue;
}

.cl-wh{
    color: #ffffff;
}

.btn-bookManager:hover{
    opacity: 80%;
    cursor: pointer;
}


.btn-bookManager:active{
    opacity: 50%;
}